ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    height: auto;
    width: 20rem;
    border: 1px solid wheat;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgb(42, 42, 236);
    text-decoration: none;
}

li a:hover {
    opacity: 0.9;
    cursor: pointer;
}

li a img {
    object-fit: cover;
    height: 14.5rem;
}

.content {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: auto;
}

.favourite {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: red;
}

.cook-time {
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-size: 0.9rem;
    color: #414141;
}

.product-item-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 0.5rem;
}

.origins {
    flex: 1;
    margin-bottom: 0.5rem;
}

.origins span {
    border-radius: 2rem;
    background-color: wheat;
    display: inline-block;
    font-size: 0.8rem;
    color: grey;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    padding: 0 0.5rem;
}

.price {
    align-self: flex-start; /* Alinea el precio a la izquierda */
    background: white;
    padding: 0.3rem 0.5rem;
    color: #414141;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
