<app-search></app-search>
<app-tags></app-tags>
<app-not-found
[isVisible]="!plats || !plats.length"
resetLienMessage="Recherchez à nouveau"
></app-not-found>
<ul>
    <li *ngFor="let plat of plats">
        <a [routerLink]="['/plat', plat.id]">
            <img [src]="plat.imageUrl" [alt]="plat.name">
            <div class="content">
                <div class="name">
                    {{ plat.name }}
                </div>
                <div class="favourite">
                    <fa-icon [icon]="faHeart" [ngStyle]="{ color: plat.favourite ? 'red' : 'gray' }"></fa-icon>
                </div>
                <div class="star-rating">
                    <app-star-rating [rating]="plat.stars" [readonly]="true"></app-star-rating>
                </div>
                <div class="product-item-footer">
                    <div class="origins">
                        Ingrédients:
                        <span *ngFor="let origin of plat.origins">
                        {{ origin }}
                        </span>
                    </div>
                    <div class="cook-time">
                        {{plat.cookTime}}  <fa-icon [icon]="faClock"></fa-icon>
                    </div>
                    <div class="price">
                        <span>{{ plat.price }}€</span>
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>
