<header>
    <div class="container">
      <a routerLink="/" class="logo">International Eats</a>
      <nav>
        <ul>
          <li *ngIf="isAuth">
            <a routerLink="/login">Login</a>
          </li>
          <li *ngIf="isAuth" class="menu-container">
            <a routerLink="/dashboard">{{user.name}}</a>
            <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a>
              <a routerLink="/login"  (click)="logout()">Logout</a>
            </div>
          </li>
          <li>
            <a routerLink="/cart-page">
              Cart <span class="cart-quantity">{{ cartQuantite }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  