<div class="container">
    <div class="details">
        <app-titre titre="Login"></app-titre>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label>Email:</label>
            <div>
                <input type="email" placeholder="Email" formControlName="email">
            </div>
            <div class="error-list" *ngIf="isSubmitted || formControls['email'].dirty || formControls['email'].touched">
                <div *ngIf="formControls['email'].errors && formControls['email'].errors['required']">Introduisez une adresse mail</div>
                <div *ngIf="formControls['email'].errors && formControls['email'].errors['email']">Adresse mail invalide</div>
            </div>

            <label>Password:</label>
            <div>
                <input type="password" placeholder="Password" formControlName="password">
            </div>
            <div class="error-list" *ngIf="isSubmitted || formControls['password'].dirty || formControls['password'].touched">
                <div *ngIf="formControls['password'].errors && formControls['password'].errors['required']">Mot de passe requis</div>
            </div>

            <div class="button">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
