<app-titre titre="Cart Page" margin="1.5rem 0 0 2.5rem"></app-titre>
<app-not-found
  [isVisible]="!cart || !cart.items.length"
  pasTrouveMessage="Le paneau est vide!"
></app-not-found>
<div *ngIf="cart && cart.items.length" class="container">
    <ul class="cart-items">
        <li class="cart-item" *ngFor="let cartItem of cart.items">
            <img class="cart-item-image" [src]="cartItem.plat.imageUrl" [alt]="cartItem.plat.name">
            <div class="cart-item-details">
                <a class="cart-item-name" [routerLink]="'/plat/' + cartItem.plat.id">
                    {{ cartItem.plat.name }}
                </a>
                <div class="cart-item-quantity">
                    <select #quantiteSelect [value]="cartItem.quantite" (change)="changerQuantite(cartItem, quantiteSelect.value)">
                        <option *ngFor="let i of [1, 2, 3, 4, 5]">{{ i }}</option>
                    </select>
                </div>
                <div class="cart-item-price">
                    {{ cartItem.prix | currency:'EUR':'symbol':'1.2-2' }}
                </div>
                <button class="remove-button" (click)="enleverDuPanier(cartItem)">
                    Enlever
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div class="summary">
            <span class="platAddition">Total Items: {{ cart.totalCount }}</span>
            <span class="prix-total">Total Price: {{ cart.totalPrice | currency:'EUR':'symbol':'1.2-2' }}</span>
        </div>
        <a class="checkout-button" routerLink="/checkout">Procédez au règlement</a>
    </div>
</div>
